//INFO
$fontSize: 4.8em;
$turquoise: #DFF8EB;
$grey: #F7F7F7;
$redburn: #f44336;
$orange: #EF946C;
$raisin: #161925;
$bdazzledblue: #235789;

body {
  background-color: $grey;
}
section .contact-container {
  position: relative;
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h3 {
    font-size: 6.4em;
    font-family: 'Maragsa', 'Poppins', 'sans-serif';
    color: $raisin;
  }

  .contact-email {
    padding: 60px;
  }
}

// ABOUT ME
.info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  padding-top: 80px;
}

.marquee {
  overflow: hidden;
  width: 100vw;
  text-align: center;
  --offset: 25vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee-inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 10s linear infinite;
  color: #f44336;
}

.marquee span {
  white-space: nowrap;
  color: $redburn;
  font-size: 6vw;
  padding: 0 2vw;
  text-align: center;
  font-family: 'Maragsa', 'Poppins', 'sans-serif';
}

.info-subject {
  color: $raisin;
}

.about-container {
	  display: grid;
	  grid-template-columns: 1fr 1fr;

	.column {
	  padding: 60px;
	  height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
	}

  img {
    width: 600px;
    height: auto;
  }
}

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes rotate {
  0%, 15% {
    transform: translateY(0);
  }
  20%,35% {
    transform: translateY($fontSize * -1.5);
  }
  40%,55% {
    transform: translateY($fontSize * -3);
  }
  60%,75% {
    transform: translateY($fontSize * -4.5);
  }
  80%,95% {
    transform: translateY($fontSize * -6);
  }
  100% {
    transform: translateY($fontSize * -7.5);
  }
}

i {
  font-size: 6.4em;
  text-decoration: none;
  padding: 0.2em;
  background: $redburn;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a:hover i {
  background: -webkit-gradient(linear, right top, left bottom, from(#2196f3), to(#f44336));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media all and (max-width: 649px) {
  i {
    font-size: 2.4em !important;
  }
}

@media all and (min-width: 650px) and (max-width: 959px) {
  i {
    font-size: 4em !important;
  }
}
