.container-info {
  width: 100%;
  height: calc(100vh - 42vh);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.container-info h3 {
  font-size: 6.4em;
  font-family: 'Maragsa', 'Poppins', 'sans-serif';
}

section.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
  height: calc(100vh - 42vh);
  scroll-snap-align: start;
}

.other-likes {
  font-size: 4.8em;
}

.marquee {
  position: relative;
  overflow: hidden;
  width: 100vw;
  --offset: 25vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee-inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
  color: #f44336;
}

.marquee span {
  white-space: nowrap;
  color: #f44336;
  font-size: 6vw;
  padding: 0 2vw;
  text-align: center;
  font-family: 'Maragsa', 'Poppins', 'sans-serif';
}

.marquee span .info-subject {
  color: #000;
}

.other-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

.change-outer {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 7.2em;
  overflow: hidden;
}

.change-inner {
  position: relative;
  -webkit-animation: rotate 10s ease-in-out infinite forwards;
          animation: rotate 10s ease-in-out infinite forwards;
}

.element {
  display: block;
}

.element h4 {
  font-size: 4.8em;
}

@-webkit-keyframes rotate {
  0%, 15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20%, 35% {
    -webkit-transform: translateY(-7.2em);
            transform: translateY(-7.2em);
  }
  40%, 55% {
    -webkit-transform: translateY(-14.4em);
            transform: translateY(-14.4em);
  }
  60%, 75% {
    -webkit-transform: translateY(-21.6em);
            transform: translateY(-21.6em);
  }
  80%, 95% {
    -webkit-transform: translateY(-28.8em);
            transform: translateY(-28.8em);
  }
  100% {
    -webkit-transform: translateY(-36em);
            transform: translateY(-36em);
  }
}

@keyframes rotate {
  0%, 15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20%, 35% {
    -webkit-transform: translateY(-7.2em);
            transform: translateY(-7.2em);
  }
  40%, 55% {
    -webkit-transform: translateY(-14.4em);
            transform: translateY(-14.4em);
  }
  60%, 75% {
    -webkit-transform: translateY(-21.6em);
            transform: translateY(-21.6em);
  }
  80%, 95% {
    -webkit-transform: translateY(-28.8em);
            transform: translateY(-28.8em);
  }
  100% {
    -webkit-transform: translateY(-36em);
            transform: translateY(-36em);
  }
}

i {
  font-size: 6.4em;
  text-decoration: none;
  padding-left: 0.7em;
  background: #f44336;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover i {
  background: -webkit-gradient(linear, right top, left bottom, from(#2196f3), to(#f44336));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (max-width: 649px) {
  .container-info {
    margin: auto;
  }
  .container-info h3 {
    font-size: 5em !important;
  }
  .other-likes {
    font-size: 4em !important;
    text-align: center;
  }
  .container-info .column {
    width: 100%;
    height: 160px;
  }
  .left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel {
    text-align: center !important;
  }
  .change-outer {
    left: 0 !important;
  }
  i {
    font-size: 4.8em !important;
  }
}

@media all and (min-width: 650px) and (max-width: 959px) {
  .other-likes {
    font-size: 4.8em !important;
    text-align: center;
  }
  .container-info {
    margin: 18vh 0 18vh 0;
  }
  .container-info .column {
    width: 100%;
    height: 160px;
  }
  .left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .carousel {
    text-align: center !important;
  }
  .change-outer {
    left: 25% !important;
  }
}
/*# sourceMappingURL=info.css.map */