body {
  background-color: #F7F7F7;
}

section .contact-container {
  position: relative;
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.contact h3 {
  font-size: 6.4em;
  font-family: 'Maragsa', 'Poppins', 'sans-serif';
  color: #161925;
}

.contact .contact-email {
  padding: 60px;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  height: auto;
  padding-top: 80px;
}

.marquee {
  overflow: hidden;
  width: 100vw;
  text-align: center;
  --offset: 25vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee-inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(var(--move-initial), 0, 0);
          transform: translate3d(var(--move-initial), 0, 0);
  -webkit-animation: marquee 10s linear infinite;
          animation: marquee 10s linear infinite;
  color: #f44336;
}

.marquee span {
  white-space: nowrap;
  color: #f44336;
  font-size: 6vw;
  padding: 0 2vw;
  text-align: center;
  font-family: 'Maragsa', 'Poppins', 'sans-serif';
}

.info-subject {
  color: #161925;
}

.about-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about-container .column {
  padding: 60px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-container img {
  max-width: 600px;
  height: auto;
}

.about-container a {
  text-decoration: none;
  color: #f44336;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
}

.about-container a:hover {
  background-color: #f44336;
  color: white;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
            transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
            transform: translate3d(var(--move-final), 0, 0);
  }
}

@-webkit-keyframes rotate {
  0%, 15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20%, 35% {
    -webkit-transform: translateY(-7.2em);
            transform: translateY(-7.2em);
  }
  40%, 55% {
    -webkit-transform: translateY(-14.4em);
            transform: translateY(-14.4em);
  }
  60%, 75% {
    -webkit-transform: translateY(-21.6em);
            transform: translateY(-21.6em);
  }
  80%, 95% {
    -webkit-transform: translateY(-28.8em);
            transform: translateY(-28.8em);
  }
  100% {
    -webkit-transform: translateY(-36em);
            transform: translateY(-36em);
  }
}

@keyframes rotate {
  0%, 15% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20%, 35% {
    -webkit-transform: translateY(-7.2em);
            transform: translateY(-7.2em);
  }
  40%, 55% {
    -webkit-transform: translateY(-14.4em);
            transform: translateY(-14.4em);
  }
  60%, 75% {
    -webkit-transform: translateY(-21.6em);
            transform: translateY(-21.6em);
  }
  80%, 95% {
    -webkit-transform: translateY(-28.8em);
            transform: translateY(-28.8em);
  }
  100% {
    -webkit-transform: translateY(-36em);
            transform: translateY(-36em);
  }
}

i {
  font-size: 6.4em;
  text-decoration: none;
  padding: 0.2em;
  background: #f44336;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover i {
  background: -webkit-gradient(linear, right top, left bottom, from(#2196f3), to(#f44336));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (max-width: 649px) {
  .contact h3 {
    font-size: 5em;
  }
  i {
    font-size: 6em !important;
  }
  .about-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-container .column {
    padding: 18px;
  }
  .about-container p {
    text-align: center;
  }
  .about-container img {
    max-width: 380px;
  }
}

@media all and (min-width: 650px) and (max-width: 959px) {
  .about-container .column {
    padding: 48px;
  }
  .about-container img {
    width: 380px;
  }
}
/*# sourceMappingURL=info.css.map */