//INFO
$fontSize: 4.8em;
$redburn: #f44336;

.container-info {
  width: 100%;
  height: calc(100vh - 42vh);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  h3 {
    font-size: 6.4em;
    font-family: 'Maragsa', 'Poppins', 'sans-serif';
  }
}

section.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: calc(100vh - 42vh);
  scroll-snap-align: start;
}

.marquee {
  position: relative;
  overflow: hidden;
  width: 100vw;
  text-align: center;
  --offset: 25vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
}

.marquee-inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 10s linear infinite;
  color: #f44336;
}

.marquee span {
  white-space: nowrap;
  color: $redburn;
  font-size: 6vw;
  padding: 0 2vw;
  text-align: center;
  font-family: 'Maragsa', 'Poppins', 'sans-serif';
}

.marquee span .info-subject {
  color: #000;
}

@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}

@keyframes rotate {
  0%, 15% {
    transform: translateY(0);
  }
  20%,35% {
    transform: translateY($fontSize * -1.5);
  }
  40%,55% {
    transform: translateY($fontSize * -3);
  }
  60%,75% {
    transform: translateY($fontSize * -4.5);
  }
  80%,95% {
    transform: translateY($fontSize * -6);
  }
  100% {
    transform: translateY($fontSize * -7.5);
  }
}

i {
  font-size: 6.4em;
  text-decoration: none;
  padding-left: 0.7em;
  background: $redburn;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a:hover i {
  background: -webkit-gradient(linear, right top, left bottom, from(#2196f3), to(#f44336));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media all and (max-width: 649px) {
  i {
    font-size: 2.4em !important;
  }
}

@media all and (min-width: 650px) and (max-width: 959px) {
  i {
    font-size: 4em !important;
  }
}
