@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@font-face {
  font-family: 'Maragsa';
  src: url('../fonts/maragsa-display.woff')  format('woff');
}

$turquoise: #DFF8EB;
$grey: #F7F7F7;
$redburn: #f44336;
$orange: #EF946C;
$raisin: #161925;

*, body {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
  height: 0px;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  -ms-flex-direction: column;
}

// .top-container{
//   border: red solid 2px;
//   height: 80vh;
// }

.loader {
  margin: auto;
  border: 8px solid #EF946C;
  border-top: 8px solid #f44336;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// HEADER
header {
  margin: 30px;
  // padding: 28px 0;
  // height: 120px;
}

.landscape-title {
  display: none;
}

a {
  text-decoration: none;

  .home-link {
    color: black;
    font-family: 'Poppins', sans-serif;
  }
}

// FONT
h2 {
  // PROJECT TITLE
  font-size: 15.4em;
  font-family: 'Maragsa', 'Poppins', sans-serif;
  color: $raisin;
}

h3 {
  // MAIN TITLES
  font-size: 4.8em;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: $raisin;
}

h4 {
  font-size: 2.5em;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

h5 {
  // LOADER
  font-size: 5.4em;
  font-family: 'Maragsa', 'Poppins', sans-serif;
  margin-bottom: 20px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4em;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 0 30px;
  position: relative;
}

.menu-items {

}

nav h3 {
  font-weight: 500;
  background: none;
  transition: background-color .3s ease-in-out;
}

nav h3:hover {
  color: black;
  background-color: $grey;
}

nav .checkbox {
  display: block;
  height: 36px;
  width: 46px;
  position: absolute;
  top: 48px;
  right: 100px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

nav .hamburger-lines {
  display: block;
  height: 36px;
  width: 46px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav .hamburger-lines .line {
  display: block;
  height: 6px;
  width: 100%;
  border-radius: 10px;
  background: $raisin;
}

nav .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

nav .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

nav .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

nav .menu-items {
  position: absolute;
  top: 240px;
  right: 340px;
  // transition: transform 5s ease-in-out;
  opacity: 0;
}

nav .menu-items li {
  list-style-type: none;
  font-size: 4.8em;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: $raisin;
}

nav input[type="checkbox"]:checked ~ .menu-items {
	opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

@keyframes fadeIn {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

// .column {
//   float: left;
//   width: 50%;
//   height: calc(100vh - 42vh);
// }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .left {
//   display: flex;
//   justify-content: left;
//   align-items: center;
// }

// FOOTER
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 50vh;
  max-width: 50vw;
  margin: 30px;
  line-height: 0.98;
}

// RESPONSIVENESS
@media all and (max-width: 649px) {
  body {
    width: auto;
    margin: 0;
  }

  header {
    padding: 28px 0;
    text-align: center;
    height: auto;
  }

  h2 {
    // PROJECT TITLE
    font-size: 8em;
    font-family: 'Maragsa', 'Poppins', sans-serif;
  }

  h3, h5 {
    font-size: 2.4em;
  }

  p {
    font-size: 1.6em;
  }

  // footer {
  //   .tag-description {
  //     width: 284px;
  //   }
  // }

  // nav .left {
  //   justify-content: left;
  //   align-items: center;
  // }
}

@media all and (min-width: 650px) and (max-width: 959px) {
  h2 {
    // PROJECT TITLE
    font-size: 12em;
    font-family: 'Maragsa', 'Poppins', sans-serif;
  }

  h3, h5 {
    font-size: 3em;
  }

  p {
    font-size: 2em;
  }

  // footer {
  //   .tag-description {
  //     width: 326px;
  //   }
  // }

  // nav .left {
  //   justify-content: left;
  //   align-items: center;
  // }
}

@media all and (max-width: 900px) and (orientation: landscape) {
  .landscape-title {
    display: block;
  }

  // footer {
  //   display: none;
  // }
}