// PORJECTS

$turquoise: #DFF8EB;
$grey: #F7F7F7;
$redburn: #f44336;
$orange: #EF946C;
$raisin: #161925;
$bdazzledblue: #235789;

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 20px 0 250px 0;

  .link-title {
    display: inline-block;
    color: $redburn;
  }
  
  .link-title:hover {
    color: $orange;
  }
}

.hover-image {
  position: absolute;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 36%;
  object-fit: contain;
  border-radius: 30px;
  pointer-events: none;
}

// .sidebar {
//   width: 4vw;
//   height: auto;
//   // border: green solid 1px;
//   // position: absolute;
//   // top: 0;
//   // left: 0;
//   // transform: translate(-20%, -20%);
//   // transform: rotate(180deg);
//   // -webkit-transform: rotate(180deg);
//   writing-mode: vertical-rl;
//   -webkit-writing-mode: vertical-rl;
//   position: sticky;
//   top: 20px;
// }

@media all and (max-width: 649px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 60px 0 20px 0;
  }

  .image-container {
    display: none;
  }
}

@media all and (min-width: 650px) and (max-width: 959px) {

}

// .scroll-arrow {
//   img {
//     position: absolute;
//     margin-left: auto;
//     margin-right: auto;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100px;
//   }
// }

// @media all and (max-width: 900px) and (orientation: landscape) {
//   .scroll-arrow {
//     img {
//       position: absolute;
//       margin-left: auto;
//       margin-right: auto;
//       left: 0;
//       right: 0;
//       top: 20vh;
//       width: 100px;
//     }
//   }
// }

// .scroll-show {
//   opacity: 1;
// }

// .scroll-hidden {
//   -webkit-animation: fadeout .5s linear forwards;
//   animation: fadeout .5s linear forwards;
// }
  
// @-webkit-keyframes fadeout {
//   0% { opacity: 1; }
//   100% { opacity: 0; }
// }
  
// @keyframes fadeout {
//   0% { opacity: 1; }
//   100% { opacity: 0; }
// }