// PORJECTS

$turquoise: #DFF8EB;
$grey: #F7F7F7;
$redburn: #f44336;
$orange: #EF946C;
$raisin: #161925;
$bdazzledblue: #235789;

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 20px 0 250px 0;

  .link-title {
    display: inline-block;
    color: $redburn;
  }
  
  .link-title:hover {
    color: $orange;
  }
}

.hover-image {
  position: absolute;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 36%;
  object-fit: contain;
  border-radius: 30px;
  pointer-events: none;
}

@media all and (max-width: 649px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 60px 0 20px 0;
  }

  .image-container {
    display: none;
  }
}
