// PORJECTS

$turquoise: #DFF8EB;
$grey: #F7F7F7;
$redburn: #f44336;
$orange: #EF946C;


.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px;
}

.projects {
  text-align: center;
  width: auto;
  height: auto;

  .link-title {
    color: $redburn;
  }
}

.sidebar {
  border: red solid 1px;
  position: absolute;
  top: 0;
  left: 0;
  // transform: translate(-20%, -20%);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  position: sticky;
}

@media all and (max-width: 649px) {
  // PROJECTS
  // section.projects {
  //   .project-image {
  //     min-width: 30vw;
  //     min-height: 30vh;
  //   }

  //   img {
  //     width: 308px !important;
  //     height: 205px !important;
  //   }
  // }
}

@media all and (min-width: 650px) and (max-width: 959px) {

}

// .scroll-arrow {
//   img {
//     position: absolute;
//     margin-left: auto;
//     margin-right: auto;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     width: 100px;
//   }
// }

// @media all and (max-width: 900px) and (orientation: landscape) {
//   .scroll-arrow {
//     img {
//       position: absolute;
//       margin-left: auto;
//       margin-right: auto;
//       left: 0;
//       right: 0;
//       top: 20vh;
//       width: 100px;
//     }
//   }
// }

// .scroll-show {
//   opacity: 1;
// }

// .scroll-hidden {
//   -webkit-animation: fadeout .5s linear forwards;
//   animation: fadeout .5s linear forwards;
// }
  
// @-webkit-keyframes fadeout {
//   0% { opacity: 1; }
//   100% { opacity: 0; }
// }
  
// @keyframes fadeout {
//   0% { opacity: 1; }
//   100% { opacity: 0; }
// }